<section class="section background">
  <div class="section__title">Currentground</div>
  <div class="section__content">
    <p>
      I'm currently wasting my time<br>
      I recently done many project's and anyone can find it in my
      <a class="underline-link" href="https://github.com/bylonlog" target="_blank"> Code Base</a>, I mean about my github profile sometime gitlab.
    </p>

    <p>
      As a Cyber explorer, I enjoy bridging the gap between studies and other stuffs &mdash; combining my technical knowledge
      with my keen eye for design to create a crazy project. My goal is to always to create a place that is up to date
   and have a search for the future.   </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably watch some epic new movies or series Or play some
      offline or online games, it can't be predicted.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
