<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/bylonlog/userrecon/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/bylonlog/userrecon/" target="_blank">UserRecon</a>
        </div>
        <p>Terminal based information gathering tool working based on social media or social site's usernames. Issues occur in some
        special or unknown synarioes.</p>
      </figcaption>
    </div>


    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/bylonlog/instablast/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/bylonlog/instablast/" target="_blank">InstaBlast</a>
        </div>
        <p>Special instagram account terminating tool utilizing instagram reporting option, beware bad guys. Use for good.</p>
      </figcaption>
    </div>
  </div>
</section>
